.Chat
  .Chat--Header
    .Header-left
      .ChatGroup-Name
        グループ名
      .ChatGroup-Member
        %p
          Member：
        %ul.member-lists
          %li.member-list<
            Aさん
          %li.member-list<
            Bさん
    .Header-right
      =link_to "/", class: "Edit__btn" do
        Edit
  %hr.Chat--border
  .Chat--Messages
    .Message
      .Message--Title
        %span.Message--Title__PostUser<>
          投稿者A
        %span.Message--Title__PostDate<>
          2019/6/30(Sun) 10:15:30
      .Message--Text
        こんにちは！今日一緒にランチ行きますか？
    .Message
      .Message--Title
        %span.Message--Title__PostUser<>
          投稿者B
        %span.Message--Title__PostDate<>
          2019/6/30(Sun) 10:17:10
      .Message--Text
        いいですね！どこに行きましょう？
  .Chat--Footer
    %form
      %input
      %button
        SEND