.Chat
  .Chat-Header
    グループ名
    .ChatGroup-Member
      Member:
      %ul
        %li<
          Aさん
        %li<
          Bさん
    .Edit__btn
      Edit
  %hr
  .Chat-Messages
    .Message
      投稿者
      投稿日
      テキスト
  .Chat-Footer
    %form
      %input
      %button
        SEND