.Chat
  .Chat-Header
    .Header-left
      .ChatGroup-Name
        グループ名
      .ChatGroup-Member
        %p.member
          Member：
        %ul.member-lists
          %li.member-list<
            Aさん
          %li.member-list<
            Bさん
    .Header-right
      .Edit__btn
        Edit
  %hr.Chat--border
  .Chat-Messages
    .Message
      投稿者
      投稿日
      テキスト
  .Chat-Footer
    %form
      %input
      %button
        SEND