.flash-box {
  text-align: center;

  .success {
    color: #ffffff;
    background-color: $base-lightblue;
  }

  .notice {
    color: #ffffff;
    background-color: $base-lightblue;
  }

  .error {
    color: #ffffff;
    background-color: #F35500;
  }

  .alert {
    color: #ffffff;
    background-color: #F35500;
  }
}