@import "./reset";
@import "font-awesome";
@import "./mixin/clearfix";
@import "./variable";
@import "./messages";

.Header {
  color: #ffffff;
  background-color: $base-lightblue;
  .Header-infomation {
    text-align: center;
  }
}

.Left-Sidebar{
  float: left;
  width: 300px;
  .Sidebar-Header {
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    background-color: #253141;
    &__user {
      color: $sidebar-color;
      font-size: 16px;
      font-weight: bold;
      float: left;
    }

    &__btns {
      float: right;
    }
    &--btn {
      color: $sidebar-color;
      font-size: 16px;
      text-decoration: none;
      margin: 0 0 0 5px;
    }
  }
  .Sidebar-Contents {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    .ChatGroup {
      padding: 20px 0;
      &__name {
        color: $sidebar-color;
        font-size: 15px;
        font-weight: bold;
      }
      &__message {
        color: $sidebar-color;
        margin: 5px 0 0;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}